# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
.venv_wsl/
env/
venv/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
*.pid

# Temporary
*.tmp

# 如果 data 有暫存資料就加
# data/cache/