# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
.venv_linux/
.venv_wsl/
env/
venv/

# Environment files
.env
.env.*
!.env.example

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Docker / runtime
*.pid

# Temporary
*.tmp

# Optional cache
# data/cache/